<nav style="margin: auto" class="navbar navbar-expand-lg bg-dark">
  <a style="color: white" class="navbar-brand" href="#">Ramnath Hospitals</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          style="color: white"
          class="nav-link active"
          aria-current="page"
          href="javascript:void(0);"
          routerLink="/docdash"
          >Back</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <hr />
  <h2 style="text-align: center; margin-top: 20px">Add Patient Dashboard</h2>
  <a style="color: rgb(86, 86, 86); font-size: x-large">
    <marquee behavior="scroll" direction="left">
      Welcome to Add Patient Dashboard. Please fill the form below and click on
      submit to add a patient!!
    </marquee>
  </a>
  <hr />
  <input type="text" name="search" placeholder="Search" />
  <br />
  <div class="tableFixHead">
    <br />
    <div class="container">
      <h2 class="text-center">Add New Patient</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input
            id="name"
            name="name"
            placeholder="Enter name"
            type="text"
            class="form-control"
            [(ngModel)]="patient.name"
          />
        </div>
        <div class="form-group">
          <label>Age</label>
          <input
            id="age"
            name="age"
            placeholder="Enter age"
            type="text"
            class="form-control"
            [(ngModel)]="patient.age"
          />
        </div>
        <div class="form-group">
          <label>Blood</label>
          <input
            id="symptoms"
            name="symptoms"
            placeholder="Enter blood group"
            type="text"
            class="form-control"
            [(ngModel)]="patient.blood"
          />
        </div>
        <div class="form-group">
          <label>Prescription</label>
          <input
            id="number"
            name="number"
            placeholder="Enter prescription"
            type="text"
            class="form-control"
            [(ngModel)]="patient.prescription"
          />
        </div>
        <div class="form-group">
          <label>Dose</label>
          <input
            id="number"
            name="number"
            placeholder="Enter dose"
            type="text"
            class="form-control"
            [(ngModel)]="patient.dose"
          />
        </div>
        <div class="form-group">
          <label>Fees</label>
          <input
            id="number"
            name="number"
            placeholder="Enter fees"
            type="text"
            class="form-control"
            [(ngModel)]="patient.fees"
          />
        </div>
        <div class="form-group">
          <label>Urgency</label>
          <input
            id="number"
            name="number"
            placeholder="Enter urgency"
            type="text"
            class="form-control"
            [(ngModel)]="patient.urgency"
          />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
